<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>스프링 부트 웹 서비스</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<script src="/js/app/index.js"></script>
<body>
